{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table"">
    <thead>
        <tr>
        <th scope="col">Date/Time</th>
        <th scope="col">Type</th>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Purchase/Sale Price</th>
        <th scope="col">Purchase/Sale  Value</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(number) %}
            <tr>
            <td>{{ dates[i]["date"] }}</td>
            <td>{{ types[i]["type"] }}</td>
            <td>{{ symbols[i]["symbol"] }}</td>
            <td>{{ names[i]["name"] }}</td>
            <td>{{ shares[i]["shares"] }}</td>
            <td>{{ prices[i] }}</td>
            <td>{{ values[i] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}