/* Global styles */
  * {
    background-color: #1C1C1C;
    color: #757575;
  }

  a {
    color: #9AEC4B;
  }

  a:hover {
    color: #5FD7FF;
  }

/* Navigation bar */
  #navbar {
    margin: auto;
    max-width: 100%;
    text-align: center;
    font-family: DotGothic16;
    border-style: solid;
    border-width: medium;
    border-color: #AF87FF;
  }

/* Navigation bar links */
  .navlinks {
    padding: 0px 10px 0px 50px;
    font-size: 40px;
    text-decoration: none;
    color: #FF005F;
  }

/* Page content */
  .content {
    padding: 20px;
  }

/* Heading styles */
  h3 {
    color: #5FD7FF;
    font-family: DotGothic16;
    padding-bottom: 10px;
  }

  h4 {
    color: #AF87FF;
    font-family: DotGothic16;
    font-size: 20px;
    padding-bottom: 10px;
    text-decoration-line: underline;
  }

/* Paragraph style */
  p {
    font-family: "DejaVu Sans Mono";
  }

/* Pickleball images */
  #pickleballs {
    margin-left: 5%;
    margin-right: 5%;
  }
  .pickleball {
    width: 5%;
    height: auto;
    margin-left: 8%;
    margin-right: 6%;
    margin-bottom: 20px;
  }
  #pickleball1, #pickleball2, #pickleball4, #pickleball5{
    visibility: hidden;
  }

  #pickleball6, #pickleball7, #pickleball8, #pickleball9, #pickleball10{
    display: none;
  }

/* Pickleball messages */
  .pb_message {
    display: none;
  }

/* Pickleball videos */
  .pb_video {
    display: none;
  }

/* Tables */
  .table {
    font-family: "DejaVu Sans Mono";
    color: #757575;
  }