{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table"">
    <thead>
        <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Current Price</th>
        <th scope="col">Current Value</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(number) %}
            <tr>
            <td>{{ symbols[i]["symbol"] }}</td>
            <td>{{ names[i]["name"] }}</td>
            <td>{{ shares[i]["SUM(shares)"] }}</td>
            <td>{{ prices[i] }}</td>
            <td>{{ values[i] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <table class="table" id="portfolio_summary">
    <tbody>
        <tr>
            <th>CASH BALANCE: </td>
            <td style="text-align:right;" >{{ cash }}</td>
        </tr>
        <tr>
            <th>STOCK VALUE: </td>
            <td style="text-align:right;">{{ value }}</td>
        </tr>
        <tr>
            <th>GRAND TOTAL: </td>
            <td style="text-align:right;">{{ total }}</td>
        </tr>
    </tbody>
    </table>
{% endblock %}
