{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select" id="select" name="symbol" aria-label="Default select example">
                <option selected>Click to select stock</option>
                {% for i in range(number) %}
                    <option value={{ symbols[i]["symbol"] }}>{{ symbols[i]["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="# Units" type="text">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
    <h1>{{ own_any }}</h1>
    <h1>{{ own_num }}</h1>
{% endblock %}
